.vscode/**
.vscode-test/**
src/**
node_modules/**
*.tsbuildinfo
**/*.map
out/test/**
.git/**
.gitignore
*.vsix
**/.DS_Store
docs/**/*.png
docs/**/*.jpg
docs/**/*.jpeg
docs/**/*.gif
docs/**/*.webp
docs/**/*.svg
